* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* .text-center{
  font-size: 50px;
  text-align: center;
  color: blue;
}

#message-title{
  font-size: 30px;
  color: red;
  font-style: normal;
} */
